<div>
	<span class="hidden-xs">
	{{#options.hasDelete}}
	<a href="javascript:void(0);" data-event="delete_all" class="btn btn-danger {{^checked_count}}disabled{{/checked_count}}" style="margin-right:15px"><i class="fa fa-times"></i> Delete</a>
	{{/options.hasDelete}}
	<div class="btn-group"role="group" aria-label="...">

	    {{#options.hasEdit}}<a href="javascript:void(0);" data-event="edit_all" class="btn btn-primary {{^checked_count}}disabled{{/checked_count}}{{^multiEdit}}{{#multi_checked}}disabled{{/multi_checked}}{{/multiEdit}}" data-id="{{start}}id{{end}}"><i class="fa fa-pencil"></i> Edit</a>{{/options.hasEdit}}

	    {{#options.events}}
	    	{{^global}}<a href="javascript:void(0);" data-event="{{name}}" class="custom-event-all btn btn-default {{^checked_count}}disabled{{/checked_count}}{{^multiEdit}}{{#multi_checked}}disabled{{/multi_checked}}{{/multiEdit}}" data-id="{{start}}id{{end}}">{{{label}}}</a>{{/global}}
	    {{/options.events}}

	</div>
	</span>
	<div class="btn-group visible-xs">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-cogs"></i> <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
				{{#options.hasEdit}}<li  class=" {{^checked_count}}disabled{{/checked_count}}{{^multiEdit}}{{#multi_checked}}disabled{{/multi_checked}}{{/multiEdit}}"><a href="javascript:void(0);" data-event="edit_all" data-id="{{start}}id{{end}}"><i class="fa fa-pencil"></i> Edit</a></li> {{/options.hasEdit}}

				{{#options.events}}
					{{^global}}<li class="{{^checked_count}}disabled{{/checked_count}}{{^multiEdit}}{{#multi_checked}}disabled{{/multi_checked}}{{/multiEdit}}"><a href="javascript:void(0);" data-event="{{name}}" class="custom-event-all" data-id="{{start}}id{{end}}">{{{label}}}</a></li>{{/global}}
				{{/options.events}}
				{{#options.hasDelete}}
					<li role="separator" class="divider"></li>
					<li class=" {{^checked_count}}disabled{{/checked_count}}"><a href="javascript:void(0);" data-event="delete_all" style="margin-right:15px"><i class="fa fa-times"></i> Delete</a></li>
				{{/options.hasDelete}}
		</ul>
	</div>
	{{#checked_count}}<h5 class="range label label-info checked_count" style="margin:7px 15px;">{{checked_count}} item(s) selected</h5>{{/checked_count}}
</div>

