<div class="well table-well">
	<div style="height:40px">
		<div name="events" class=" pull-left" style="margin-bottom:10px;width:62%" ></div>

		<input type="file" class="csvFileInput" accept=".csv" style="display:none">

		<div class="hiddenForm" style="display:none"></div>
		<div class="btn-group pull-right" style="margin-bottom:10px;margin-left:10px" role="group" aria-label="...">
			{{#showAdd}}
			<div data-event="add" class="btn btn-success"><i class="fa fa-pencil-square-o"></i> New</div>
			{{/showAdd}}		
			{{#options.events}}
				{{#global}}<div class="btn btn-default custom-event-collection {{global}}" data-event="{{name}}" data-id="{{start}}id{{end}}">{{{label}}}</div>{{/global}}
			{{/options.events}}
			{{#options.download}}
			<div class="btn btn-default hidden-xs" name="bt-download" data-toggle="tooltip" data-placement="left" title="Download"><i class="fa fa-download"></i></div>
			{{/options.download}}
			{{#options.upload}}
			<div class="btn btn-default hidden-xs" name="bt-upload" data-toggle="tooltip" data-placement="left" title="Upload"><i class="fa fa-upload"></i></div>
			{{/options.upload}}


			{{#options.columns}}
			<div class="btn-group columnEnables" data-toggle="tooltip" data-placement="left" title="Display Columns">
			  <button class="btn btn-default dropdown-toggle" type="button" id="enables_{{options.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    <i class="fa fa-list"></i>
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu pull-right" style="padding-top:10px;padding-left:10px" aria-labelledby="enables_{{options.id}}">
			  	{{#items}}
			  	{{#visible}}
			    <li><label data-field="{{id}}" style="width:100%;font-weight:normal"><input type="checkbox" {{#isEnabled}}checked="checked"{{/isEnabled}}> {{label}}</label></li>
					{{/visible}}
			    {{/items}}
			  </ul>
			</div>
			{{/options.columns}}

		</div>

		{{#options.search}}<input type="text" name="search" class="form-control pull-right" style="max-width:300px; margin-bottom:10px" placeholder="Search">{{/options.search}}

	</div>	

	{{^options.autoSize}}
	<div class="paginate-footer hidden-xs" style="overflow:hidden;margin-top:10px;clear:both"></div>
	{{/options.autoSize}}

	<div class="table-container" style="width:100%;overflow:auto">
	{{#options.autoSize}}
	<table class="table {{^options.noborder}}table-bordered{{/options.noborder}}" style="margin-bottom:0px">
	<thead class="head">
	{{>table_head}}
	</thead>
	</table>
	{{/options.autoSize}}


	<div style="min-height:100px">
		<table class="table {{^options.noborder}}table-bordered{{/options.noborder}} table-striped table-hover dataTable" style="margin-bottom:0px;{{#options.autoSize}}margin-top: -19px;{{/options.autoSize}}">
			{{^options.autoSize}}
			<thead class="head">
			{{>table_head}}
			</thead>
			{{/options.autoSize}}
{{#options.autoSize}}
			<thead>
						<tr  class="list-group-row">
						    {{#options.hasActions}}
    <th style="width:60px" class="select-column"></th>
    {{/options.hasActions}}
			    {{#items}}
    {{#visible}}
	<th  style="min-width:85px">
    {{/visible}}
    {{/items}}
		</tr>
		</thead>
{{/options.autoSize}}
			<tbody class="list-group">
				<tr><td>
					<div class="alert alert-info" role="alert">You have no items.</div>
				</td></tr>
			</tbody>

		</table>
	</div>

	</div>
	<div class="paginate-footer" style="overflow:hidden;margin-top:10px"></div>
</div>